.services{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    .servicesSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        .servicesList{
            max-width: 600px;
            .service{
                display: flex;
                align-items: center;
                max-width: 500px;
                margin: 30px 5px;
                .serviceDescription{
                    h3{
                        font-size: 28px;
                        font-family: "bold";
               
                    }
                    p{
                        max-width: 350px;
                  
                    }
                }
                img{
                    width: 50px;
                    height: 50px;
                    padding-right: 30px;
                }
                
            }
        }
        
    }
    button{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .gallerySection{
        display: grid;
        width: 710px;
        grid-template-columns: 350px 350px;
        grid-template-rows: 300px 232px 340px;
        grid-template-areas: 
        "redbox hair1"
        "hair2 hair1"
        "hair2 nail1";
        gap: 8px;
        zoom: 0.45;
        .redBox{
            background-color: $accentColor;
            width: 350px;
            height: 300px;
            border-radius: 73px 0px 0px 0px;
            grid-area: redbox;
            display: flex;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 40px;
                font-family: "bold";
                color: $primaryColor;
                width: 100%;
                text-align: center;
            }
        }
        :nth-child(2){
            width: 350px;
            height: 540px;
            border-radius: 0px 73px 0px 0px;
            grid-area: hair1;
            object-fit: cover;
        }
        :nth-child(3){
            width: 350px;
            height: 580px;
            border-radius: 0px 0px 0px 73px;
            grid-area: hair2;
            object-fit: cover;
        }
        :nth-child(4){
            width: 350px;
            height: 340px;
            border-radius: 0px 0px 73px 0px;
            grid-area: nail1;
            object-fit: cover;
        }
    }


}
@media(min-width:500px){
    .services{
        .gallerySection{
            zoom: 0.55;
        }
    }
}

@media(min-width:750px){
    .services{


        .gallerySection{
            zoom: 0.9;
            margin-top: 50px;
        }
    }
}


@media(min-width:1000px){
    .services{
        .servicesSection{
            padding-right: 75px;
            .servicesList{
                .service{

                }
            }
        }
        p{
            font-size: 18px !important;
        }

        .gallerySection{
         
            zoom: 1;
        }
    }
}

@media(min-width:1300px){
    .services{
        .servicesSection{
            padding-right: 75px;
            .servicesList{
                .service{

                }
            }
        }
  
        button{
            margin-bottom: 0px;
        }

    }
}
