.titleSection{
    width: fit-content;
   
}
.contactUs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .getInTouch{
        width: 500px;
        padding: 20px 5px;
       
        .disclaimer{
            border-bottom: 3px solid $accentColor;
            padding-bottom: 10px;
        }
        .contactDetails{
            .method{
                padding-bottom: 15px;
                .fa{
                    text-align: center;
                    width: 35px;
                    margin-left: auto;
                    color: $accentColor;
                    font-size: 25px;
                }
                .fa-map-marker, .fa-phone{
                    font-size: 29px;
                }
            }

            .location{
                padding-top: 10px;
            }
         
        }
    }

    .contactForm{
        width: 500px;
        padding: 20px 5px;
        .contactUs{
            display: flex;
            flex-direction: column;
            form{
                display: flex;
                flex-direction: column;
              
                border-radius: 10px;

                button{
                  margin-top: 5px;
                  width: 120px;
                  height: 50px;
                  
               
                }
                input{
                    border-radius: 10px;
                    padding: 5px 5px;
                    border: 3px solid $black;
                    margin-bottom: 5px;
                }
                input:focus{
                    outline: none !important;
                    background-color: $secondaryColorLight;
                }
                #message{
                    height: 200px;
                    padding: 5px 5px;
                    border-radius: 10px;
                    border: 3px solid $black;
                }
                #message:focus{
                    outline: none !important;
                    background-color: $secondaryColorLight;
                }
            }
          
        }
    }
}

iframe{
    width: min(2500px, 100%);
    height: 400px;
    padding-top: 13px;
   
}
@media(min-width:1024px){
    .contactUs{
        .getInTouch{
            padding: 20px 20px;
        }
        .contactForm{
            padding: 20px 20px;
        }
    }
}