@font-face {
  font-family: "regular";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "regular";
  color: #111111;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.titleSection {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titleSection .text :first-child {
  color: #C2272D;
}
.titleSection .text h1 {
  display: inline;
  color: #111111;
  font-family: "bold";
  font-size: 56px;
}
.titleSection img {
  width: 175px;
}
.titleSection p {
  max-width: 500px;
  text-align: center;
  padding: 30px 5px;
}

.buttonDark, .buttonRed {
  width: 140px;
  height: 50px;
  font-family: "bold";
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid #111111;
  font-size: 18px;
  letter-spacing: 1px;
}

.buttonRed {
  border: 0px;
  background-color: #C2272D;
  color: #fafafa;
}

.hero {
  background-color: #EDE9E9;
  height: 665px;
  width: 100%;
  transform: translateY(-100px);
  overflow-x: hidden;
}
.hero .heroInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}
.hero .heroInfo h3 {
  color: #C2272D;
  font-family: "bold";
  font-size: 18px;
}
.hero .heroInfo h1 {
  font-size: 48px;
  font-family: "bold";
  line-height: 55px;
}
.hero .heroInfo p {
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
}
.hero .heroInfo .buttons {
  padding-top: 10px;
}
.hero .logo {
  height: 50px;
  padding-top: 27px;
  padding-left: 50px;
}
.hero .model {
  display: none;
}
.hero .vector {
  display: none;
}

@media (min-width: 650px) {
  .hero .heroInfo {
    padding-left: 50px;
    width: 600px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 500px;
    font-size: 64px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 10px;
  }
  .hero .heroInfo .buttons {
    padding-top: 10px;
  }
}
@media (min-width: 850px) {
  .hero .heroInfo {
    padding-left: 150px;
    width: 600px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 650px;
    font-size: 74px;
    line-height: 65px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 15px;
    font-size: 18px;
  }
  .hero .heroInfo .buttons {
    padding-top: 15px;
  }
  .hero .logo {
    height: 80px;
    padding-left: 135px;
    padding-top: 15px;
  }
}
@media (min-width: 850px) {
  .hero .heroInfo {
    padding-left: 150px;
    width: 600px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 650px;
    font-size: 74px;
    line-height: 65px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 15px;
    font-size: 18px;
  }
  .hero .heroInfo .buttons {
    padding-top: 15px;
  }
  .hero .logo {
    height: 80px;
    padding-left: 135px;
    padding-top: 15px;
  }
}
@media (min-width: 1300px) {
  .hero .model {
    display: block;
    position: absolute;
    height: 500px;
    right: 300px;
    bottom: 0;
    z-index: 2;
  }
  .hero .vector {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0px;
    z-index: 1;
  }
}
@media (min-width: 1650px) {
  .hero .model {
    left: 950px;
    bottom: 0px;
  }
  .hero .vector {
    top: 0px;
    left: 1200px;
  }
}
@media (min-width: 1800px) {
  .hero .heroInfo {
    padding-left: 350px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 24px;
  }
  .hero .heroInfo h1 {
    width: 670px;
    font-size: 88px;
    line-height: 80px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 20px;
    font-size: 18px;
  }
  .hero .heroInfo .buttons {
    padding-top: 20px;
  }
  .hero .logo {
    padding-left: 335px;
  }
}
.services {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.services .servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .servicesSection .servicesList {
  max-width: 600px;
}
.services .servicesSection .servicesList .service {
  display: flex;
  align-items: center;
  padding-top: 30px;
  max-width: 500px;
  margin: 25px 5px;
}
.services .servicesSection .servicesList .service .serviceDescription h3 {
  font-size: 25px;
  font-family: "bold";
}
.services .servicesSection .servicesList .service .serviceDescription p {
  max-width: 350px;
}
.services .servicesSection .servicesList .service img {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}
.services button {
  margin-top: 30px;
  margin-bottom: 60px;
}
.services .gallerySection {
  display: grid;
  width: 710px;
  grid-template-columns: 350px 350px;
  grid-template-rows: auto;
  grid-template-areas: "redbox hair1" "hair2 hair1" "hair2 nail1";
  gap: 8px;
  zoom: 0.45;
}
.services .gallerySection .redBox {
  background-color: #C2272D;
  width: 350px;
  height: 300px;
  border-radius: 73px 0px 0px 0px;
  grid-area: redbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .gallerySection .redBox h2 {
  font-size: 50px;
  font-family: "bold";
  color: #fafafa;
  width: 100%;
  text-align: center;
}
.services .gallerySection :nth-child(2) {
  width: 350px;
  height: 540px;
  grid-area: hair1;
}
.services .gallerySection :nth-child(3) {
  width: 350px;
  height: 580px;
  border-radius: 0px 0px 0px 73px;
  grid-area: hair2;
}
.services .gallerySection :nth-child(4) {
  width: 350px;
  height: 340px;
  grid-area: nail1;
}

@media (min-width: 800px) {
  .services .gallerySection {
    zoom: 0.7;
  }
}
@media (min-width: 1000px) {
  .services .gallerySection {
    zoom: 1;
  }
}
.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  overflow: visible;
  background-color: #C2272D;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(200px);
}
.navigationBar #menu ul {
  padding-top: 100px;
  list-style: none;
  text-align: center;
}
.navigationBar #menu ul li {
  padding-bottom: 30px;
  width: 160px;
  text-align: end;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a {
  font-family: "bold";
  text-decoration: none;
  font-size: 25px;
}
.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #111111;
  transition: 0.3s ease-in;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #EDE9E9;
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    max-width: 1800px;
    z-index: 2;
    justify-content: center;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(150px);
    position: relative;
    width: 600px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    display: flex;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .navigationBar #menu ul li a {
    font-size: 20px;
  }
  .hamburgerMenu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */