@font-face {
  font-family: "regular";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "regular";
  color: #111111;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.titleSection {
  text-align: center;
}
.titleSection .text :first-child {
  color: #C2272D;
}
.titleSection .text h1 {
  display: inline;
  color: #111111;
  font-family: "bold";
  font-size: 56px;
}
.titleSection img {
  width: 175px;
}
.titleSection p {
  max-width: 500px;
  text-align: center;
  padding: 0px 5px;
  padding-top: 30px;
}

.buttonDark, .buttonRed {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  padding: 0px 15px;
  height: 50px;
  font-family: "bold";
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid #111111;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.buttonDark:hover, .buttonRed:hover {
  background-color: #C2272D;
  border-color: #C2272D;
  color: #fafafa;
}

.buttonRed {
  border: 2px solid #C2272D;
  background-color: #C2272D;
  color: #fafafa;
}

.buttonRed:hover {
  background-color: transparent;
  color: #C2272D;
}

.hero {
  background-color: #EDE9E9;
  height: 665px;
  width: 100%;
  transform: translateY(-100px);
  overflow-x: hidden;
}
.hero .heroInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  padding: 0px 5px;
}
.hero .heroInfo h3 {
  color: #C2272D;
  font-family: "bold";
  font-size: 18px;
}
.hero .heroInfo h1 {
  font-size: 42px;
  font-family: "bold";
  line-height: 55px;
}
.hero .heroInfo p {
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
}
.hero .heroInfo .contactSection {
  display: flex;
  padding-top: 10px;
  align-items: center;
}
.hero .heroInfo .contactSection .fa {
  font-size: 60px;
  padding-left: 5px;
  padding-right: 5px;
}
.hero .heroInfo .contactSection .phoneNumber {
  line-height: 22px;
}
.hero .heroInfo .contactSection .phoneNumber b {
  color: #C2272D;
  font-family: "bold";
  letter-spacing: -1px;
}
.hero .heroInfo .contactSection .phoneNumber p {
  padding-top: 0px;
  font-size: 16px;
}
.hero .logo {
  height: 50px;
  padding-top: 27px;
  padding-left: 50px;
}
.hero .model {
  display: none;
}
.hero .vector {
  display: none;
}

@media (min-width: 650px) {
  .hero .heroInfo {
    padding-left: 50px;
    width: 600px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 500px;
    font-size: 64px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 10px;
  }
}
@media (min-width: 850px) {
  .hero .heroInfo {
    padding-left: 150px;
    width: 600px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 650px;
    font-size: 74px;
    line-height: 65px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 15px;
    font-size: 18px;
  }
  .hero .heroInfo .contactSection {
    padding-top: 15px;
  }
  .hero .logo {
    height: 80px;
    padding-left: 135px;
    padding-top: 15px;
  }
}
@media (min-width: 850px) {
  .hero .heroInfo {
    padding-left: 150px;
    width: 600px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 22px;
  }
  .hero .heroInfo h1 {
    width: 650px;
    font-size: 74px;
    line-height: 65px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 15px;
    font-size: 18px;
  }
  .hero .logo {
    height: 80px;
    padding-left: 135px;
    padding-top: 15px;
  }
}
@media (min-width: 1300px) {
  .hero .model {
    display: block;
    position: absolute;
    height: 500px;
    right: 300px;
    bottom: 0;
    z-index: 2;
  }
  .hero .vector {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0px;
    z-index: 1;
  }
}
@media (min-width: 1650px) {
  .hero .model {
    left: 950px;
    bottom: 0px;
  }
  .hero .vector {
    top: 0px;
    left: 1200px;
  }
}
@media (min-width: 1800px) {
  .hero .heroInfo {
    padding-left: 350px;
    margin-top: 50px;
  }
  .hero .heroInfo h3 {
    font-size: 24px;
  }
  .hero .heroInfo h1 {
    width: 670px;
    font-size: 80px;
    line-height: 80px;
  }
  .hero .heroInfo p {
    width: 400px;
    padding-top: 20px;
    font-size: 18px;
  }
  .hero .heroInfo .contactSection {
    padding-top: 20px;
  }
  .hero .logo {
    padding-left: 335px;
  }
}
.services {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.services .servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .servicesSection .servicesList {
  max-width: 600px;
}
.services .servicesSection .servicesList .service {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 30px 5px;
}
.services .servicesSection .servicesList .service .serviceDescription h3 {
  font-size: 28px;
  font-family: "bold";
}
.services .servicesSection .servicesList .service .serviceDescription p {
  max-width: 350px;
}
.services .servicesSection .servicesList .service img {
  width: 50px;
  height: 50px;
  padding-right: 30px;
}
.services button {
  margin-top: 30px;
  margin-bottom: 60px;
}
.services .gallerySection {
  display: grid;
  width: 710px;
  grid-template-columns: 350px 350px;
  grid-template-rows: 300px 232px 340px;
  grid-template-areas: "redbox hair1" "hair2 hair1" "hair2 nail1";
  gap: 8px;
  zoom: 0.45;
}
.services .gallerySection .redBox {
  background-color: #C2272D;
  width: 350px;
  height: 300px;
  border-radius: 73px 0px 0px 0px;
  grid-area: redbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .gallerySection .redBox h2 {
  font-size: 40px;
  font-family: "bold";
  color: #fafafa;
  width: 100%;
  text-align: center;
}
.services .gallerySection :nth-child(2) {
  width: 350px;
  height: 540px;
  border-radius: 0px 73px 0px 0px;
  grid-area: hair1;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .gallerySection :nth-child(3) {
  width: 350px;
  height: 580px;
  border-radius: 0px 0px 0px 73px;
  grid-area: hair2;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .gallerySection :nth-child(4) {
  width: 350px;
  height: 340px;
  border-radius: 0px 0px 73px 0px;
  grid-area: nail1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 500px) {
  .services .gallerySection {
    zoom: 0.55;
  }
}
@media (min-width: 750px) {
  .services .gallerySection {
    zoom: 0.9;
    margin-top: 50px;
  }
}
@media (min-width: 1000px) {
  .services .servicesSection {
    padding-right: 75px;
  }
  .services p {
    font-size: 18px !important;
  }
  .services .gallerySection {
    zoom: 1;
  }
}
@media (min-width: 1300px) {
  .services .servicesSection {
    padding-right: 75px;
  }
  .services button {
    margin-bottom: 0px;
  }
}
.paginator {
  margin-top: 100px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../../images/testimonialBackground.webp");
}
.paginator .fa-quote-left {
  color: #fafafa;
  font-size: 40px;
  padding: 20px;
}
.paginator .scrollContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.paginator .scrollContainer .arrow {
  cursor: pointer;
  display: none !important;
  z-index: 1;
  width: 60px;
  height: 60px;
  transform: translateY(-25px);
  display: flex;
}
.paginator .scrollContainer .arrow p {
  line-height: 50px;
  font-size: 100px;
  color: #fafafa;
}
.paginator .scrollContainer #imageContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 20px;
}
.paginator .scrollContainer #imageContainer .testimonial {
  width: calc(100% - 20px);
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: center;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paginator .scrollContainer #imageContainer .testimonial p {
  color: #fafafa;
  font-size: 16px;
  line-height: 30px;
}
.paginator .scrollContainer #imageContainer .testimonial .bold {
  font-size: 25px;
  color: #fafafa;
  letter-spacing: 1px;
  font-family: "bold";
  margin-top: 15px;
}
.paginator .scrollContainer #imageContainer .testimonial .pad {
  margin-bottom: 5px;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar {
  height: 15px;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar-track {
  background-color: #202020;
}
.paginator .scrollContainer #imageContainer::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 30px;
}
.paginator .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.paginator .circles span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0px 2px;
  background-color: #A8A8A8;
}
.paginator .circles #circle0 {
  background-color: #fafafa;
}

@media (min-width: 600px) {
  .paginator .scrollContainer #imageContainer .testimonial p {
    font-size: 18px;
  }
  .paginator .scrollContainer #imageContainer img {
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}
@media (min-width: 1200px) {
  .paginator .scrollContainer {
    width: -moz-fit-content;
    width: fit-content;
  }
  .paginator .scrollContainer .arrow {
    display: block !important;
  }
  .paginator .scrollContainer #imageContainer {
    width: 1000px;
    margin: 0px 30px;
  }
  .paginator .scrollContainer #imageContainer .testiomial {
    width: 1000px;
    -o-object-fit: unset;
       object-fit: unset;
    margin: 0px 100px;
  }
  .paginator .scrollContainer #imageContainer::-webkit-scrollbar {
    display: none;
  }
  .paginator .circles {
    margin-top: 0px;
  }
}
@media (min-width: 1400px) {
  .paginator .scrollContainer #imageContainer {
    width: 1100px;
  }
  .paginator .scrollContainer #imageContainer img {
    height: auto;
    width: 1200px;
  }
}
.aboutUs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutUs .aboutUsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.aboutUs .aboutUsContent .aboutUsText {
  max-width: 600px;
  line-height: 28px;
  text-align: center;
  margin: 0px 10px;
}
.aboutUs .aboutUsContent img {
  width: 320px;
  height: 300px;
  margin: 30px 0px;
  border: 5px solid #C2272D;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 700px) {
  .aboutUs .aboutUsContent img {
    width: 600px;
  }
}
@media (min-width: 1220px) {
  .aboutUs .aboutUsContent .aboutUsText {
    transform: translateY(70px);
  }
}
@media (min-width: 1500px) {
  .aboutUs .aboutUsContent .aboutUsText {
    font-size: 18px;
  }
  .aboutUs .aboutUsContent img {
    width: 750px;
    height: 500px;
  }
}
.products {
  margin-top: 100px;
  background-image: url("../../images/products.webp");
  background-size: cover;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.products h2 {
  font-size: 40px;
  font-family: "bold";
}
.products .images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.products .images img {
  padding: 20px 10px;
  height: 75px;
  width: auto;
}
.products .images .pravana {
  height: 40px;
  width: auto;
}

@media (min-width: 450px) {
  .products .images img {
    padding: 50px 50px;
  }
}
.gallery {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 341px 75px 243px 293px 395px;
  grid-template-rows: auto;
  grid-template-areas: "hair1 hair2 hair2 hair3 rightbox" "hair1 hair2 hair2 hair3 hair5" "leftbox leftbox nails2 nails2 hair5";
  gap: 8px;
  zoom: 0.9;
}
.gallery img {
  height: 446px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery .leftBox, .gallery .rightBox {
  grid-area: leftbox;
  background-color: #C2272D;
  height: 300px;
  width: 426px;
  border-radius: 0px 0px 0px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery .leftBox h1, .gallery .rightBox h1 {
  color: #fafafa;
  font-size: 45px;
  font-family: "bold";
}
.gallery .rightBox {
  grid-area: rightbox;
  border-radius: 0px 73px 0px 0px;
  line-height: 70px;
  text-align: center;
  width: 395px !important;
  height: 257px;
}
.gallery :nth-child(3) {
  grid-area: hair1;
  border-radius: 73px 0px 0px 0px;
}
.gallery :nth-child(4) {
  grid-area: hair2;
}
.gallery :nth-child(5) {
  grid-area: hair3;
}
.gallery :nth-child(6) {
  grid-area: nails2;
  height: 300px;
  width: 545px;
}
.gallery :nth-child(7) {
  grid-area: hair5;
  height: 490px;
  width: 395px;
  border-radius: 0px 0px 73px 0px;
}

@media (max-width: 1300px) {
  .gallery {
    zoom: 0.6;
  }
}
@media (max-width: 1000px) {
  .gallery {
    zoom: 0.45;
  }
}
@media (max-width: 1000px) {
  .gallery {
    display: none;
  }
}
.teamMembers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamMembers .member {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: 20px 10px;
}
.teamMembers .member img {
  border: 2px solid #C2272D;
  height: 300px;
  width: 242px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teamMembers .member .text {
  padding-top: 20px;
  max-width: 800px;
}
.teamMembers .member .text .namePosition {
  border-left: 5px solid #C2272D;
  padding-left: 5px;
  line-height: 25px;
}
.teamMembers .member .text .namePosition h1 {
  font-family: "bold";
}
.teamMembers .member .text .namePosition b {
  display: block;
  color: #C2272D;
  font-size: 14px;
  height: 18px;
}
.teamMembers .member .text p {
  line-height: 30px;
  padding-top: 15px;
}
.teamMembers .member .socials {
  display: flex;
}
.teamMembers .member .socials a {
  text-decoration: none;
}
.teamMembers .member .socials .fa {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2272D;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #fafafa;
  border: 2px solid #C2272D;
  transition: 0.5s;
}
.teamMembers .member .socials .fa:hover {
  background-color: #fafafa;
  color: #C2272D;
  cursor: pointer;
}

@media (min-width: 1194px) {
  .teamMembers .member {
    padding: 50px 50px;
  }
  .teamMembers .member .text {
    padding-left: 30px;
    padding-top: 0px;
  }
}
.titleSection {
  width: -moz-fit-content;
  width: fit-content;
}

.noMarginFooter {
  margin-top: unset;
}

.contactUs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.contactUs .getInTouch {
  width: 100%;
}
.contactUs .getInTouch .disclaimer {
  border-bottom: 3px solid #C2272D;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}
.contactUs .getInTouch .disclaimer p {
  max-width: 600px;
}
.contactUs .getInTouch .disclaimer a {
  text-decoration: none;
  font-family: "bold";
  color: #C2272D;
}
.contactUs .getInTouch .contactDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.contactUs .getInTouch .contactDetails .method {
  padding: 0px 5px;
  padding: 10px 5px;
  width: 250px;
}
.contactUs .getInTouch .contactDetails .method a {
  text-decoration: none;
}
.contactUs .getInTouch .contactDetails .method .fa {
  text-align: center;
  width: 35px;
  margin-left: auto;
  color: #C2272D;
  font-size: 30px;
}
.contactUs .getInTouch .contactDetails .method .fa-map-marker, .contactUs .getInTouch .contactDetails .method .fa-phone {
  font-size: 29px;
}
.contactUs .getInTouch .contactDetails .location a {
  text-decoration: none;
  color: #C2272D;
  font-family: "bold";
}
.contactUs .getInTouch .contactDetails .hours .specificHours {
  width: 100%;
}
.contactUs .getInTouch .contactDetails .hours .specificHours .dayWrapper {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.contactUs .getInTouch .contactDetails .hours .specificHours .dayWrapper .day {
  width: 90px;
}

iframe {
  width: min(2500px, 100%);
  height: 400px;
  padding-top: 13px;
}

@media (min-width: 510px) {
  .contactUs .getInTouch .contactDetails .method {
    width: 100%;
    padding: 10px 25px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1024px) {
  .contactUs .getInTouch .disclaimer p {
    font-size: 18px;
  }
  .contactUs .getInTouch .contactDetails .location {
    max-width: 320px;
  }
  .contactUs .getInTouch .contactDetails .method b {
    font-size: 18px;
  }
  .contactUs .getInTouch .contactDetails .method p {
    font-size: 18px;
  }
  .contactUs .contactForm {
    padding: 20px 20px;
  }
}
.servicesList .section {
  padding: 20px 10px;
  max-width: 800px;
}
.servicesList .section .content .service {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #EDE9E9;
  margin-bottom: 15px;
}
.servicesList .section .content .service b {
  color: #C2272D;
  font-family: "bold";
}

@media (min-width: 850px) {
  .servicesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .servicesList .section {
    max-width: unset;
    width: 600px;
    padding: 30px 50px;
  }
  .servicesList .section .titleSection {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .servicesList .section .content .service {
    font-size: 18px;
  }
  .servicesList .pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .servicesList .pricing .content p {
    width: 600px;
    font-size: 18px;
  }
}
.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  overflow: visible;
  background-color: #C2272D;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(200px);
}
.navigationBar #menu ul {
  padding-top: 100px;
  list-style: none;
  text-align: center;
}
.navigationBar #menu ul li {
  padding-bottom: 30px;
  width: 160px;
  text-align: end;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a {
  font-family: "bold";
  text-decoration: none;
  font-size: 25px;
  color: #fafafa;
}
.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #111111;
  transition: 0.3s ease-in;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #EDE9E9;
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    max-width: 1800px;
    z-index: 2;
    justify-content: center;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(150px);
    position: relative;
    width: 600px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    display: flex;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .navigationBar #menu ul li a {
    font-size: 20px;
    color: unset;
  }
  .navigationBar #menu ul li :after {
    display: block;
    content: "";
    border-bottom: 3px solid #C2272D;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul li :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
footer {
  margin-top: 100px;
  color: #FAFAFA !important;
  background-color: #EDE9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section b {
  letter-spacing: 1px;
}
footer .section ul {
  padding-bottom: 35px;
  list-style: none;
  width: 150px;
}
footer .section ul li {
  padding: 5px 0px;
  transition: 0.5s ease-in-out;
}
footer .section ul li a {
  text-decoration: none;
}
footer .section ul li .fa {
  color: #C2272D;
}
footer .section ul li:hover {
  opacity: 0.4;
  cursor: pointer;
}
footer .section ul li:first-child:hover {
  opacity: 1;
  cursor: auto;
}
footer .section ul li:first-child {
  color: #C2272D;
}
footer .section ul li:first-child b {
  color: #C2272D;
  font-family: "bold";
}
footer .logoAndDescription {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logoAndDescription p {
  max-width: 300px;
  text-align: center;
}
footer .logoAndDescription img {
  width: 300px;
}
footer .hours .fa {
  padding-right: 5px;
  font-size: 18px;
}
footer .hours ul li b {
  display: inline-block;
  width: 50px;
}
footer .contact .fa {
  width: 20px;
  height: 20px;
  text-align: center;
}
footer .contact .fa-instagram {
  padding-top: 3px;
  padding-right: 2px;
}

@media (min-width: 1100px) {
  .copyright p {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer .section {
    width: 200px;
    height: 350px;
  }
  footer .logoAndDescription {
    flex-basis: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1300px) {
  footer {
    justify-content: center;
  }
  footer .section {
    padding-top: 49px;
    margin: 0px 25px;
  }
  footer .logoAndDescription {
    transform: translateY(-55px);
    padding-top: 0px;
    flex-basis: auto;
    width: 250px !important;
  }
}
.copyright {
  background-color: #dddcdc;
  width: 100%;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright .developer {
  display: flex;
}
.copyright .developer p {
  font-size: 15px;
}
.copyright .developer a {
  text-decoration: none;
  font-family: "bold";
  color: #C2272D;
}
.copyright .developer a:hover {
  opacity: 0.5;
}

.headerBackground {
  background-color: #EDE9E9;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
}
.headerBackground .logo {
  height: 50px;
  padding-top: 27px;
  padding-left: 50px;
  position: absolute;
  top: 0;
  left: 50px;
}
.headerBackground .content {
  position: relative;
  display: flex;
  align-items: center;
}
.headerBackground .leftVector {
  height: 400px;
  position: relative;
}
.headerBackground .rightVector {
  height: 400px;
  position: relative;
  rotate: 180deg;
}
.headerBackground .text {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: center;
}
.headerBackground .text h3 {
  font-size: 20px;
  color: #C2272D;
  font-family: "bold";
}
.headerBackground .text h1 {
  font-size: 60px;
  text-align: center;
  color: #111111;
  line-height: 55px;
  font-family: "bold";
}

.buffer {
  height: 300px;
}

.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  overflow: visible;
  background-color: #C2272D;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(200px);
}
.navigationBar #menu ul {
  padding-top: 100px;
  list-style: none;
  text-align: center;
}
.navigationBar #menu ul li {
  padding-bottom: 30px;
  width: 160px;
  text-align: end;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a {
  font-family: "bold";
  text-decoration: none;
  font-size: 25px;
  color: #fafafa;
}
.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #111111;
  transition: 0.3s ease-in;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #EDE9E9;
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    max-width: 1800px;
    z-index: 2;
    justify-content: center;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: translateX(150px);
    position: relative;
    width: 600px;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    display: flex;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .navigationBar #menu ul li a {
    font-size: 20px;
    color: unset;
  }
  .navigationBar #menu ul li :after {
    display: block;
    content: "";
    border-bottom: 3px solid #C2272D;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul li :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
@media (min-width: 1000px) {
  .moveBar #menu {
    transform: translateX(0px) !important;
  }
}
@media (max-width: 1300px) {
  .buffer {
    height: 200px;
  }
  .headerBackground {
    height: 300px;
  }
  .headerBackground .text {
    width: unset;
    max-width: 500px;
  }
  .headerBackground .leftVector {
    display: none;
  }
  .headerBackground .rightVector {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */