//-------------------------------COLORS---------------------------------
$primaryColor: #fafafa;
$primaryDark:  #fafafa;
$primaryLight: #FAFAFA;

$secondaryColor: #EDE9E9;
$secondaryColorDark: #202020;
$secondaryColorLight: #1E1F26;

$accentColor: #C2272D;
$accentColorDark: #272021;
$accentColorLight: #77623b;;

$white:  #FAFAFA;
$black: #111111;
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face {
    font-family: "regular";
    font-style: normal;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "bold";
    font-style: normal;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
  }
//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------



* {
    margin: 0;
    padding: 0;
    font-family: "regular";
    color: $black;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.titleSection{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .text{
        :first-child{
            color: $accentColor;
        }
        h1{
            display: inline;
            color: $black;
            font-family: "bold";
            font-size: 56px;
        }

    }
    img{
        width: 175px;
    }
    p{
        max-width: 500px;
        text-align: center;
        padding: 0px 5px;
        padding-top: 30px;
    }
}

.buttonDark{
    width: 140px;
    height: 50px;
    font-family: "bold";
    background-color: transparent;
    border-radius: 7px;
    border: 2px solid $black;
    font-size: 18px;
    letter-spacing: 1px;
}
.buttonRed{
    @extend .buttonDark;
    border: 0px;
    background-color: $accentColor;
    color: $primaryColor;
}

//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------
@import "index/_hero.scss";
@import "index/_services.scss";
@import "index/_testimonials.scss";
@import "index/_aboutUs.scss";
@import "index/_products.scss";


@import "_navigationMenu.scss";
@import "_footer.scss"
//-------------------------------IMPORTS---------------------------------
